
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

/* ---------shared-style---- */
.primary-color{
    background-color: #FEA301;
    color: white;
}

.display-flex{
    display: flex;
 
}


/* --------navstyles------ */

/* .navbar{
    max-width: 1158.61px;

} */

/* ------btn-clr------- */
.home-clr{
    color: #FEA301;
    font-weight: bold;
}
.about-clr{
    color: #01ACFD;
    font-weight: 500;
}
.facilities-clr{
    color: #05D4DF;
    font-weight: 500;
}
.admission-clr{
    color: #5D58EF;
    font-weight: 500;
}



.logo{
   
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}
.navbar{
    padding-top: 20px;
    max-width: 1158.61;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.navlink li a{
    font-size: 1.30rem;
    list-style: none;
    text-decoration: none;
   
}


.navlink{
    gap: 32px;
}
.navlink li {
    list-style: none;
    
}
.primary-btn{
    padding: 10px 60px;
    border-radius: 12px;
    border: none;
    width: 197px;
    height: 50px;
    font-size: 1.30rem;
    font-weight: 500;
    
}
.banner{
    max-width: 1158.61;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 50px;
}

.banner-img img{
    width: 100%;
}
.banner-title{
    font-size:3.5rem;
}
.ornge-clr{
    color: #FEA301;
}
.sky-clr{
    color: #01ACFD;
}
.banner-description{

    font-size: 1.3rem;
    color: #111111;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;
}
.secondary-btn{

    padding: 10px 47px;
    border-radius: 12px;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 1.20rem;
    font-weight: 500;
    background-color: black;
    color: white;
    
}
.icon{
    display: none;
}


.section{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/bg.png");
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
   
}
.section-title{
   text-align: center;
   margin-top: 60px;
   font-size: 3rem;
   font-weight: bold;
}
.container{
    max-width: 1158.61;
    margin: 0 auto;
    display: flex;
    gap: 28px;
}
.content{
    margin-top: 80px;
    border-radius: 18.86px;
    text-align: center;
    padding: 40px 40px;
    border: 1px solid black;
    /* width: 367.8px;
    height: 476.78px; */
}
.content.one{
    background-image: linear-gradient(#DEF5FF,#ffffff);
    border: 1px solid #DEF5FF;
}
.content.two{
    background-image: linear-gradient(#FFF4DC,#ffffff);
    border: 1px solid #FFF4DC;
}
.content.three{
    background-image: linear-gradient(#EEE1FF,#ffffff);
    border: 1px solid #EEE1FF;
}
.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}
.card-description{
    font-size: 1rem;
    font-weight: 500;
    line-height: 28px;
}
.card-btn{
    margin-top: 40px;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    background-color: transparent;
}
.arrow{
    display: flex;
    margin-top: 80px;
    
    justify-content: center;
    gap: 10px;
}
.img{
    margin-bottom: 60px;
}


/* -----------------------------marquee-style---------------- */
.marquee {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    font-size: 1.3rem;
    font-weight: 500;
    white-space:nowrap;
    box-sizing: border-box;
    display: block;
    animation: marquee 20s linear infinite;
  }
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

/* ----------------section2style----------
---------------------------------------- */

.section2{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/bg.png"),linear-gradient(white,#fea10131);
    padding-bottom:80px;
}
.section2-title{
    text-align: center;
    margin-top: 60px;
    font-size: 3rem;
    font-weight: bold;
}
.all-card{
    gap: 18px;
    max-width: 1158.61;
    margin: 80px auto 0 auto;
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    
}
.card{
    overflow: hidden;
    border-radius: 16px;
    background-color: white;
    width:100%;
   
}
.card.one{
    grid-column: 1 / 3;
    grid-row:1 / 3;
    overflow: hidden;
    border-radius: 16px;
    background-color: white;
    width:100%;
}

.card-title2{
    margin-top: 30px;
    font-size: 1rem;
    padding:10px 40px;
    font-weight: bold;
}
.card-title3{
    margin-top: 30px;
    font-size: 1.6rem;
    padding:0 40px;
    font-weight: bold;
}
.card-description2{
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    padding:30px 60px;
}

.view-btn{
    margin-top: 90px;
    text-align: center;
}

.sky{
    background-color: #3CD8E8;
}
.green{
    background-color: #95B226;
}
.blue{
    background-color: #5D58F0;
}


/* -----
----------style-btn-for-big-card------
------------ */
.date-btn{
    color: white;
    font-size: 1rem;
    border: none;
    padding: 15px 19px;
    border-radius: 47px;
}
.date{
    position: relative;
    top: -255px;
    left: 38px;
}


/* -----
----------style-btn-for-small-four-card------
------------ */
.date-btn-forfour{
    color: white;
    font-size: 0.8rem;
    border: none;
    padding: 7px 15px;
    border-radius: 47px;
}
.date-small-card{
    position: relative;
    top: -105px;
    left: 38px;
}
/* -------------------------position-for-last-card----------- */
.date-small-card-four{
    position: relative;
    top: -125px;
    left: 38px;
}

/* 
--------footerstyle------
-------------------
--------------- */
.footer{
    background-color: #01ACFD;
   

}
.footer-container{
    padding-top: 130px;
    max-width: 1158.61;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
   row-gap: 20px;
}
.footer-logo{
    
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.footer-title{
    color: white;
    font-size: 2.3rem;
}
.link-title{
    margin-bottom: 35px;
    color: white;
    
}
.about{
  
    margin-bottom: 35px;
    color: white;
}
.about-content > p{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: white;
}
.paragraph{
    color: white;
    width:399.02px;
    font-size: 1.1rem;
    margin-bottom: 110px;
   
    
}



@media screen and (max-width:576px) {
 
    .banner{
        flex-direction: column-reverse;
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-description{
        font-size: 1rem;
    }
    .banner-content{
        margin: 0 auto;
       text-align: center;
    }
    .secondary-btn{
       text-align: center;
       font-size: 1rem;
    }
    
    .display-none{
        display: none;
    }
    
    .banner-img{
        padding: 0 15px;
        margin-top: 40px;
    }
    .logo{
        padding: 0 16px;
        justify-content: space-between;
        padding-bottom: 12px;
        border-bottom: 1px solid #FEA301;
        width: 100%;
    }
    .icon{
        display: block;
    }
    .container{
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        column-gap: -13px;
    }
    .card-title{
        font-size: 1rem;
    }
    .card-description{
        font-size:0.8rem;
    }
    .card.two{
        margin-top:13px;
    }
    .section-title{
        margin-bottom: 80px;
        font-size: 1.6rem;
    }
    .content{
        margin: 0;
    }
    .arrow{
        display: none;
    }
    .content.three{
        margin-bottom: 40px;
    }
    .card.one{
      display: none;
    }
    .all-card{
        padding: 0 16px;
        gap: 18px;
        display: grid;
        grid-template-columns:  repeat(2, 1fr);
      
    }
    .card-title2{
        font-size: 0.7rem;
        padding:30px 60px;
        font-weight: bold;
    }
    .footer-container{
        flex-direction: column;
        padding: 50px 20px;
    }
    .paragraph{
        margin-bottom: 50px;
    }
    .section2-title{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .date-small-card-four{
        position: relative;
        top: -90px;
        left: 10px;
    }
    .date-small-card{
        position: relative;
        top: -90px;
        left: 10px;
    }
    
    .card-title2{
        margin-top: 30px;
        font-size: 0.6rem;
        padding:10px 30px;
        font-weight: bold;
    }
    .paragraph{
        color: white;
        width:310px;
        font-size: 0.8rem;
    }
}